.advantages {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    &__list {
      margin-right: -30px;
      margin-bottom: -30px;
    }
  }

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    &__item {
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    &__item {
      flex-wrap: wrap;
      flex-basis: calc((100% - 60px) / 2);
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      flex-basis: calc((100% - 120px) / 4);
    }
  }

  &__icon-box {
    height: 120px;
    background: var(--radio-button-section-background);
    border-radius: 4px;
  }

  @media screen and (min-width: 480px) {
    &__icon-box {
      width: 450px;
      height: 120px;
    }
  }

  @media screen and (min-width: 768px) {
    &__icon-box {
      width: 354px;
      height: 120px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__icon-box {
      width: 270px;
      height: 120px;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__suptitle {
    margin-top: 30px;
    font-size: var(--main-font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 767px) {
    &__suptitle {
      text-align: center;
    }
  }

  &__text {
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 10px;
    color: var(--secondary-text-color);
  }
}
